<html>

<head>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <main>
    <div id="graph"></div>
  </main>
  <div id="ui">
      <div class="menu">
        <div class="debug">
          <div class="header"><h4>iter: {{ iteration }} | Best: {{ best.cost.toFixed(2) }} ({{ best.variables.map(v => v.toFixed(2)).join(", ") }})</h4></div>
          <div v-for="log in debug.logs" v-bind:class="{[log.type]:true}"> {{ log.text }} </div>
        </div>
        <div class="commands">
          <h3> Commands: </h3>
          <div class="row">
            <button onclick="start()">Start</button>
            <button onclick="stop()">Stop</button>
            <button onclick="reset()">Reset</button>
          </div>
          <div class="row">
            <label> Test function: </label>
            <select name="opti_func" @change="set_test()" v-model="objective">
                <option v-for="option in test_functions" v-bind:value="option">{{option.name}}</option>
            </select>
          </div>
        </div>
        <div class="parameters">
            <h3> Parameters: </h3>
            <div class="row">
                <label> Num. countries: </label>
                <input type="number"/>
            </div>
            <div class="row">
                <label> Num. imperialist: </label>
                <input type="number"/>
            </div>
            <div class="row">
                <label> Assim rate: </label>
                <input type="number"/>
            </div>
        </div>
    </div>
  </div>

  <script src="lib/plotly.min.js"></script>
  <script src="lib/vue.min.js"></script>
  <script src="lib/noise.min.js"></script>
  <script src="src/country.js"></script>
  <script src="src/world.js"></script>
  <script src="src/ica.js"></script>
  <script src="src/objective.js"></script>
  <script src="src/logger.js"></script>
  <script src="misc.js"></script>

</body>

</html>